{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Progressão de Carreira</title>
    <!-- Importar Bootstrao -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body styles="padding:0px; margin:0px;">
<div class="container-fluid">
    

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<h3>Bem vindos ao sistema!</h3>
</div> 
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/pooper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>